// Grid breakpoints
// 
// The minimum dimensions at which the layout will change,
// adapting to different screen sizes for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

// Grid containters
//
// Define the maximum width of class '.container' for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:          12 !default;
$grid-gutter-width:     1.5rem !default;

// Spacing
//
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer,
    2: $spacer * 2,
    3: $spacer * 3,
    4: $spacer * 4,
    5: $spacer * 5,
    6: $spacer * 6,
    7: $spacer * 7,
    8: $spacer * 8,
    9: $spacer * 9,
    10: $spacer * 10,
    11: $spacer * 11,
    12: $spacer * 12,
    13: $spacer * 13,
    14: $spacer * 14,
    15: $spacer * 15,
    16: $spacer * 16,
    17: $spacer * 17,
    18: $spacer * 18,
    19: $spacer * 19,
    20: $spacer * 20
) !default;